/** Desktop style */

#contenedor_resultados {
    display: flex;
    flex-wrap: wrap;
}

.contenedor_pelicula {
    display: flex;
    flex-direction: column;
    width: 25%;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    margin: 2% 0;
}

.poster_pelicula {
    width: 80%;
}

.titulo_pelicula {
    margin-top: 1rem;
}

/** Mobile style */
@media screen and (min-width: 320px) and (max-width: 799px) {
    .contenedor_pelicula {
        width: 100%;
        margin-bottom: 3rem;
        border: 1px solid #000000;
        padding: 1rem;
        border-radius: 1.5rem;
    }

    .btn {
        margin-top: 1rem;
    }

    #btn_buscar {
        margin-right: 1rem;
    }
}